
<h1>Editing: <%= @post.name %></h1>


<% if @error_message %>
  <div class="error">
    <%= @error_message %>
  </div>
<% end %>

<%= form_for @post, method: :patch do |f| %>
  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'New Post Name' %>
  </div>
  <div class="">
    <%= f.label :body %>
    <%= f.text_field :body, placeholder: 'New Post Body' %>
  </div>

  <%= f.submit "Submit" %>
<% end %>

<%= link_to "<< Back", :back %>
