<h1>New Entry</h1>


<%= form_for @post do |f| %>
<div class="">
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.label :body%>
  <%= f.text_field :body %>
</div>

<%= f.submit %>

<% end %>
