<div class="">
  <%=link_to 'New Post', new_post_path %>
  <%= link_to 'Edit', edit_post_path(id: @post.id) %>
  <%= link_to 'Delete', post_path(id: @post.id), method: :delete, data: {confirm: "Are you sure you want to delete this blog post?"} %>
  <%= link_to 'Home', root_path %>

</div>


<h1><%= @post.name %></h1>
<h2><%= @post.body %> </h2>

<%= link_to "<< Back", :back %>
